@media only screen and (min-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 320px;
    min-height: 800px;
    padding: 8px 20px;
    color: white;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    max-width: 1440px;
    padding: 12px 112px;
  }
}

.dark-form {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.form {
  margin-bottom: 120px;
  width: 500px;
}

.dark-label {
  color: white;
  font-size: 16px;

  margin-bottom: 8px;
  display: block;
}

.dark-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 16px;
  color: white;
  background-color: #444;
  outline: none;
}

.dark-input.error {
  border-color: red;
}

.dark-button {
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-button:disabled {
  background-color: #555;
  color: white;
  opacity: 0.5;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-button:hover {
  background-color: #777;
}

.shopPage {
  color: white;
  height: 500px;
  padding: 20px;
  overflow-y: auto;
}

.form-control {
  color: white;
  font-size: 10px;
  margin-bottom: 5px;
}

.form-control:last-child {
  margin-bottom: 0;
}

.darkButton {
  height: 36px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.totalPrice {
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.totalPriceWrapper {
  display: flex;
  gap: 20px;
}

.elementWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}
