.shopSvg {
  width: 30px;
  height: 30px;
  fill: var(--tangerine);
  stroke: var(--tangerine);

  color: var(--tangerine);
}

.userSvg {
  width: 30px;
  height: 30px;
  stroke: var(--tangerine);

  color: var(--tangerine);
  scale: 1;
}

.gearSvg {
  width: 30px;
  height: 30px;
  fill: var(--tangerine);
  stroke: var(--tangerine);

  color: var(--tangerine);
}

.logoutSvg {
  width: 30px;
  height: 30px;
  stroke: var(--tangerine);

  color: var(--tangerine);
}

.lengthSpan {
  font-size: 10px;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  scale: 1;
  transition: all 0.2s ease;
}

.link {
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  scale: 1;
  transition: all 0.2s ease;
}

.cartImg {
  height: 30px;
  width: 30px;
  stroke: var(--tangerine);
  fill: none;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--nyanza);
  color: var(--backgroundBlue);
  width: 200px;
  font-family: "CormorantUnicase-Medium";
  font-weight: 600;
  font-size: 25px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background-color: var(--nyanza);
  padding: 10px;
  color: rgba(3, 3, 66, 1);
  filter: drop-shadow(1px 1px 1px rgba(3, 3, 66, 1));
  font-family: "CormorantUnicase-Medium";
  font-size: 25px;
  width: 150px;
  position: relative;
}

.menu:hover {
  background-color: var(--tangerine);
}

.ulMenu {
  position: absolute;
  width: 200px;
  border-radius: 30px;

  background-color: var(--nyanza);
}

.ulMenu li {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px;
  background-color: transparent;
}

.ulMenu li .link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.link span {
  font-size: 25px;
  font-weight: 400;
  color: rgba(3, 3, 66, 1);
  font-family: "CormorantUnicase-Medium";
}

.ulMenu li button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: inherit;
  border: none;
  width: 100%;
}

.ulMenu li span {
  color: rgba(3, 3, 66, 1);
  font-family: "CormorantUnicase-Medium";
  font-size: 20px;
}
