.dark-form {
  background-color: #333;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.dark-label {
  margin-bottom: 8px;
  display: block;
}

.dark-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  margin-bottom: 16px;
  color: white;
  background-color: #444;
  outline: none;
}

.dark-input.error {
  border-color: red;
}

.dark-button {
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-button:hover {
  background-color: #777;
}

.shopPage {
  color: white;
  min-height: 500px;
}

.shopPage {
  color: white;
  height: 500px;
  padding: 20px;
  overflow-y: auto;
}

.cartList {
  display: grid;

  padding: 30px 5px;

  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 10px;
  max-height: 100%;
  padding: 0;
  margin: 0;

  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.cartList::-webkit-scrollbar {
  width: 8px;
}

.cartList::-webkit-scrollbar-track {
  background-color: transparent;
}

.cartLi {
  display: grid;
  grid-template-columns: 150px 1fr;
  gap: 30px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #555;
}

.itemInnerDiv {
  display: grid;
  grid-template-rows: repeat(1fr);
  row-gap: 8px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.removeButton {
  width: 100px;
}

.quantity-input {
  width: 150px;
  padding: 8px;
  border: 1px solid #555;
  border-radius: 4px;
  color: white;
  background-color: #444;
  outline: none;
}

.errorMessage {
  color: red;
  font-size: 10px;
  margin-bottom: 5px;
}

.errorMessage:last-child {
  margin-bottom: 0;
}

.counter {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 16px;
}

.darkButton {
  height: 36px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.totalPrice {
  color: white;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

.totalPriceWrapper {
  display: flex;
  gap: 20px;
}

.svg {
  width: 20px;
  height: 20px;
  fill: yellow;
  stroke: yellow;
}
