.container {
  min-height: calc(100vh - 115px);
  color: white;

  margin: 0 auto;
  max-width: 1440px;
  padding: 12px 112px;
}

.orderFormWrapper {
  width: 500px;
}

h1 {
  font-family: Helvetica Neue;
}
