@media only screen and (min-width: 320px) {
  .container {
    margin: 0 auto;
    max-width: 320px;
    min-height: 800px;
    padding: 8px 20px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 16px 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 12px 112px;

    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 20px;
  }
}

.sidebar {
  padding: 10px;
  background-color: #444;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.storesPositioning {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}

.storesPositioning button {
  margin-bottom: 10px;
  color: #fff;
  font-size: 16px;
}

.storesPositioning button:hover {
  text-decoration: underline;
  color: yellow;
}

.willbelist {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.image {
  width: 150px;
  height: 150px;
}

.grid {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  row-gap: 40px;
}

.gridItem {
  background-color: #555;

  border: 1px solid #777;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.gridItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

button {
  background-color: #666;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #555;
  color: yellow;
}
