@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 12px 112px;
  }
}

.header {
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 20px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.logo {
  display: flex;
  width: 20px;
  height: 20px;
}

.lengthSpan {
  font-size: 10px;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  scale: 1;
  transition: all 0.2s ease;
}

.link {
  color: #fff;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  scale: 1;
  transition: all 0.2s ease;
}
