.form {
  margin-bottom: 50px;
  width: 500px;
}

.dark-button {
  background-color: var(--tangerine);
  opacity: 0.8;

  color: var(--white);
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-button:disabled {
  background-color: var(--tangerine);
  color: var(--white);
  opacity: 0.4;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dark-button:hover {
  background-color: var(--tangerine);
  color: var(--white);
  opacity: 1;
}
