@media only screen and (min-width: 1440px) {
  .container {
    height: calc(100vh - 115px);
    display: flex;

    justify-content: center;
    align-items: center;
    gap: 50px;
    color: var(--white);
    background: linear-gradient(
        180deg,
        rgba(2, 0, 36, 0.5) 0%,
        rgba(3, 3, 66, 0.5) 50%
      ),
      url("../../../images/Herbal-Medicine.png");
    background-repeat: no-repeat;
  }
}
